.btnSub {
  width: 20%;
  margin-right: 10px;
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  border-radius: 5px!important;
}

.btnAdd {
  width: 20%;
  margin-left: 10px;
  color: #fff;
  background-color: #343a40;
  border-color: #343a40;
  border-radius: 5px!important;
}

